@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;1,100;1,500&display=swap');

:root {
    --main-bg-light-color: #EDF2FB;
    --main-bg-second-light-color: #eff6e0;
    --main-bg-blue-color: #ABC4FF;
    --main-font-blue-color: #477eff;
    --main-font-grey-color: #495057;
    --main-button-primary-hover: #719bff;
    --main-font-ligth-grey: #adb5bd;
    --main-font-red: #e63946;

    font-family: 'Poppins', sans-serif;
}

.border-light {
    border-color: var(--main-bg-light-color);
}

.float-right {
    float: right;
}